<template name='account'>
	{{#if currentUser}}
		<div class='leftSidebar col-md-3'>
			<h2>{{#if currentUser.profile.picture}}<img src='{{currentUser.profile.picture}}' style='height:1em'> {{/if}}{{currentUser.username}}</h2>
			<div>Balance: <b>{{getOption "currencyAbbr"}} {{currentUser.profile.balance}}</b></div>
			<h3>Profile</h3>
		<form id='accountForm' parsley-validate>
			<fieldset class='form-group'>
				<label for='email'>Email</label>
				<input type='email' id='email' class='email form-control unstyled' parsley-trigger="change" data-original='{{currentUser.emails[0].address}}' value='{{currentUser.emails[0].address}}'>
			</fieldset>
			<fieldset class='form-group'>
				<label for='url'>URL</label>
				<input id='url' class='url form-control unstyled' data-original='{{currentUser.profile.url}}' value='{{currentUser.profile.url}}'>
			</fieldset>
			<fieldset class='form-group'>
				<label for='bio'>Bio</label>
				<textarea id='bio' class='bio form-control unstyled' rows='8' data-original='{{currentUser.profile.bio}}'>{{currentUser.profile.bio}}</textarea>
			</fieldset>
			<div class='text-right' id='accountFormButtons' style='display:none'><button type='button' class='btn cancel'>Cancel</button> <button type='submit' class='btn'>Update</button></div>
		</form>
		</div>
		<div class='main col-md-6'>
			<h1>Transactions</h1>
			{{#if getMyTransactions}}
	<table class='table table-striped transactionsTable'>
		<thead><tr><td></td><td>Sender</td><td>Recipient</td><td>Amount ({{getOption "currencyAbbr"}})</td><td>Description</td><td>Date</td></tr></thead>
		<tbody>
	{{#each getMyTransactions}}
	<tr class='{{transactionType}}'>
	<td>{{#if isSender}}<i class='fa fa-chevron-circle-right'></i>{{/if}}{{#if isRecipient}}<i class='fa fa-chevron-circle-left'></i>{{/if}}</td><td>{{#with getUserById sender}}<a href='/users/{{username}}'>{{username}}</a>{{/with}}</td><td>{{#with getUserById recipient}}<a href='/users/{{username}}'>{{username}}</a>{{/with}}</td><td>{{amount}}</td><td>{{description}}</td><td>{{formatDate timestamp}}</td></tr>

	{{/each}}
</tbody>
	</table>
{{else}}
<i>No transactions yet!</i>
{{/if}}
		</div>
		<div class='rightSidebar col-md-3'>
			<h2>Favorites</h2>
			{{#if currentUser.profile.favorites}}

	<ul class='list-unstyled'>


	{{#each currentUser.profile.favorites}}
	<li>
		{{#with getUserById this}}
		<a href='/users/{{username}}'><img src='{{profile.picture}}' style='height: 1em'> <b>{{username}}</b></a><br><a href='/send/{{_id}}' class='btn btn-primary btn-xs'><i class="fa fa-arrow-circle-o-right"></i> Send {{getOption "currencyAbbr"}}</a> <a href='/request/{{_id}}' class='btn btn-primary btn-xs'><i class="fa fa-arrow-circle-o-left"></i> Request {{getOption "currencyAbbr"}}</a>
		{{/with}}
	</li>
	{{/each}}

	</ul>
	{{else}}
	<i>No favorites yet!</i>
{{/if}}
		</div>
		{{/if}}
<style>
.leftSidebar, .rightSidebar{
background: #eee;
padding-bottom: 1em;
}

#accountForm .unstyled{

	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#accountForm input.unstyled{
	font-weight: bold;
}

.transactionsTable{
	font-size: 0.8em;
}
</style>
</template>