<template name='accountForm'>
		<fieldset class='form-group'>
			<input class='form-control username' placeholder='Username'>
		</fieldset>
		<fieldset class='form-group'>
			<input class='form-control email' type='email' placeholder='Email'>
		</fieldset>
		<fieldset class='form-group'>
			<input class='form-control' name='password' type='password' placeholder='Password'>
		</fieldset>
		<fieldset class='form-group'>
			<input class='form-control fullName' placeholder='Real Name'>
		</fieldset>
		<fieldset class='form-group'>
			<input class='form-control url' placeholder='Homepage/Business URL'>
		</fieldset>
		<fieldset class='form-group'>
			<textarea class='form-control bio' placeholder = 'Description/short bio'></textarea>
		</fieldset>
				<fieldset class='form-group' style='text-align:center'>
			<button type='submit' class = 'btn btn-success'>Create Account</button>
		</fieldset>
</template>