<template name="completeProfile">
<div class='container'>
	<h2>Complete Profile</h2>
	<div class='col-md-12' role='form'>You're almost done! We just need you to provide some final info about yourself.</div>
	<form class='col-md-12'>
		<div class='well'>
	<fieldset class='form-group'>
		<label for='email'>Email</label>
		<input type='email' class='form-control' id='email'>
	</fieldset>
	<fieldset class='form-group'>
		<label for='url'>Homepage/URL</label>
		<input class='form-control' id='url'>
	</fieldset>
	<fieldset class='form-group'>
		<label for='bio'>Bio</label>
		<textarea class='form-control' id='bio'></textarea>
	</fieldset>
		<fieldset class='form-group' style='text-align:center'>
		<button type='submit' class='btn btn-success btn-lg'>Complete profile</button>
	</fieldset>
</div>
	</form>
	</div>
</template>