<template name="home">
<div class='container'>
	<div class='row'>
<div class='col-md-12' style='padding: 1em 1em 2em 2em !important'><h3>{{getOption "siteSubtitle"}}</h3></div>
</div>
<div class='row'>
	<div class='col-md-3'>
		<div class='panel panel-default'>
			<div class="panel-heading"><h4><i class='fa fa-refresh'></i> Activity</h4></div>
			  <div class="panel-body">
			    <ul class='small transactions list-unstyled'>
			    	{{#each recentTransactions 20}}
			    	<li class='text-muted'>
			    		{{#with getUserById sender}}<a href='/users/{{username}}'>{{username}}</a>{{/with}} sent {{#with getUserById recipient}}<a href='/users/{{username}}'>{{username}}</a>{{/with}} {{getOption "currencyAbbr"}} {{amount}} {{#if description}}for &quot;{{description}}&quot; {{/if}}{{relativeTime timestamp}}.
			    	</li>
			    	{{/each}}
			    </ul>
			  </div>
		</div>
	</div>

{{#if currentUser}}
	<div class='col-md-9'> 
		<div class='panel panel-default'> <!-- Transfer form -->
			<div class='panel-heading'><h4><i class='fa fa-heart'></i> Send {{getOption "currencyAbbr"}}</h4></div>
			<div class='panel-body'>
				<div class='col-md-8'>
					{{> transferForm}}
				</div>
				<div class='col-md-4 small text-muted'>
					<p class='lead'>Use this form to send or request {{getOption "currencyName"}} from folks in your community!</p>

					<p>If the person you want to send {{getOption "currencyAbbr"}} to isn't a member of the community, they'll receive an invite...and when they sign up, they'll automagically be credited with what you've sent them.</p>
				</div>
			</div>
	</div><!-- /transfer form -->
</div>
{{else}}

	<div class='col-md-9'> 
		<div class='panel panel-default'> <!-- Transfer form -->
			<div class='panel-heading'><h4>{{getOption "siteSubtitle"}}</h4></div>
			<div class='panel-body'>
			{{{getOption "description"}}}
			</div>
	</div><!-- /transfer form -->
</div>

{{/if}}

	<div class='col-md-4'>
		<div class='panel panel-default'>
						<div class='panel-heading'><h4><i class='fa fa-arrow-circle-right'></i> Offers </h4></div>

									<div class='panel-body'>
										{{#if currentUser}}<a class='btn btn-primary form-control' href='/offers/post'><i class='fa fa-plus-circle'></i> Post An Offer</a><br><br>{{/if}}
										<ul class='list-unstyled'>
										{{#each getOffers}}
										<li class='offer'>

										{{> offerSingleSmall}}

										</li>
<hr>
										{{/each}}
										</ul>
				</div>
			</div>
	</div>

	<div class='col-md-4 col-md-offset-1'>
		<div class='panel panel-default'>
									<div class='panel-heading'><h4><i class='fa fa-arrow-circle-left'></i> Wanted</h4></div>

									<div class='panel-body'>
										{{#if currentUser}}<a class='btn btn-primary form-control' href='/wanteds/post'><i class='fa fa-plus-circle'></i> Post A Wanted</a><br><br>{{/if}}
<ul class='list-unstyled'>
										{{#each getWanteds}}
										<li class='offer'>

										{{> wantedSingleSmall}}

										</li>
<hr>
										{{/each}}
										</ul>
				</div>
			</div>
	</div>
</div>
</div>
</template>