<template name="home">
<div class='container'>
<div class='row'>
{{#if currentUser}}
<div class='col-md-8'>
	<h2>Recent Transactions</h2>

	{{> recentTransactions}}
</div>
<div class='col-md-4'>
	{{#if getImage "siteImage"}}<img src='{{getImage "siteImage"}}' style='float: left; height: 4em'>{{/if}} <h2>{{getOption "sitename"}}</h2>
	<div>{{getOption "description"}}</div>
	<h2>Recently Joined</h2>
	<ul class='list-unstyled'>
		{{#each recentUsers}}
		<li><a href='/{{username}}'><img src='{{profile.picture}}' style='height: 1.5em'></a> <a href='/users/{{username}}'>{{username}}</a></li>
		{{/each}}
	</ul>

</div>
{{else}}
<div class='col-md-12'>
	{{#if getImage "siteImage"}}<img src='{{getImage "siteImage"}}' style='float:left; height: 8em'>{{/if}}<h1>{{getOption "sitename"}}</h1>
	<div class='lead'>{{getOption "description"}}</div>
<div style='text-align:center'>
	<a class='loginFacebook btn btn-primary'><i class='fa fa-facebook-square'></i>Login With Facebook</a>
	<h2> or <a href='/signup'>signup for {{getOption "sitename"}} today!</a></h2>
</div>
	</div>
{{/if}}
</div>
</div>
</template>