<template name="home">
	{{#if currentUser}}
<div class='container margin-top'>
	<div class='row'> <!-- send form -->
		<div class='col-md-8 col-md-offset-2 panel panel-default'>
			<div class='panel-body'>
			<h2><i class='fa fa-heart' style='color: #f00'></i> Send {{getOption "currencyAbbr"}}</h2>
			<hr>
			{{> transferForm}}
		</div>
	</div>
	</div><!-- /send form -->

<div class='row' style='margin-top: 3em'>
				<div class='col-md-5 col-md-offset-1'>
					<div class='panel panel-default'>
									<div class='panel-body'>
						<div class='row'>
				<h3 class='col-md-6'><i class="fa fa-chevron-circle-left" style='color: #0c0'></i> Offers</h3>
				<div class='col-md-6 text-right'><a class='btn btn-sm btn-success' href='/wanted/post'><i class='fa fa-plus-circle'></i> Post An Offer</a></div>
						</div>


				<ul class='list-unstyled offerList'>
				{{#each getOffers}}
				<li class='offer'>

				{{> offerSingleSmall}}

				</li>

				{{/each}}
				</ul>
				</div>
			</div>
				</div>

<div class='col-md-5'>
					<div class='panel panel-default'>
					<div class='panel-body'>
						<div class='row'>
				<h3 class='col-md-6'><i class="fa fa-chevron-circle-left" style='color: #0c0'></i> Wanted</h3>
				<div class='col-md-6 text-right'><a class='btn btn-sm btn-success' href='/wanted/post'><i class='fa fa-plus-circle'></i> Post A Wanted</a></div>
						</div>

				<ul class='list-unstyled wantedList'>
				{{#each getWanteds}}
				<li class='wanted'>

				{{> wantedSingleSmall}}

				</li>

				{{/each}}
				</ul>
				</div>
			</div>
				</div>

</div>

</div> <!-- /container -->
{{else}}
	<div class='col-md-8 col-md-offset-2'>
	<div class="carousel c-fade slide" data-ride="carousel" data-interval='2500' data-wrap="true" data-pause="false">
  <div class="carousel-inner">
  	{{#each recentTransactions 20}}
    <div class="item transaction">

			<div class='panel panel-default text-center'>
				<div class='panel-body'>
					<div class='col-md-12'>
						<div class='col-md-2 col-md-offset-4 thumb'>
						{{#with getUserById sender}}<img src='{{profile.picture}}' class='col-md-12'>{{/with}} 
						</div>						
						<div class='col-md-2 thumb'>
						{{#with getUserById recipient}}<img src='{{profile.picture}}' class='col-md-12'>{{/with}}
						</div>
					</div>
				{{#with getUserById sender}}{{username}}{{/with}} sent {{#with getUserById recipient}}{{username}}{{/with}} {{getOption "currencyAbbr"}} {{amount}} {{#if description}}for &quot;{{description}}&quot; {{/if}}{{relativeTime timestamp}}.

			</div>
</div>
    </div>
	{{/each}}
  </div>

</div>
<div class='panel panel-default'>
	<div class='panel-body'>
	<div class='description lead col-md-12'>{{{getOption "description"}}}</div>
	<div class='lead text-center col-md-12'><b><a href='/signup'>Join {{getOption "sitename"}} today!</a></b></div>
</div>
</div>

	{{/if}}
</template>