<template name='loginPanel'>
<form role='form' id='loginPanel'>
	<div class='text-center'> 
		<button type='button' class='fbLogin btn btn-primary btn-sm'><i class='fa fa-facebook-square'></i> Facebook Login</button></div>
				<fieldset class='form-group'>
					<input class='username form-control' placeholder='Username or email'>
			<input class='password form-control' name='password' type='password' placeholder='Password'>
			</fieldset>
				<div class='text-center'>
					<button type='submit' class='login btn btn-success btn-sm'>Login</button>
					<span class='pull-right small'><a href='/signup'>Create Account</a></span>
			</div>
		</form>
</template>