<template name='navbar'>
<div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{#if getImage "siteImage"}}<img src='{{getImage "siteImage"}}' style='height: 1em'>{{/if}} {{getOption "sitename"}}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><form><a class='btn btn-default navbar-btn' href='/'>Send</a></form></li>
            <li><a href="about">About</a></li>
          </ul>
                    <ul class="nav navbar-nav navbar-left">
<li><form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <input type="text" class="input-sm form-control" id='navbarSearch' placeholder="Search Users">
  </div>
</form>
</li>
</ul>


          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
<li class='col-md-12' style='padding-top:9px'>


    <div class='row'>
    <div class='col-md-2'>
      <img src='{{currentUser.profile.picture}}' style='height: 2.25em'>
    </div>
    <div class='col-md-10'>
      <div class='row'>
        <div class='col-md-12 h4'><a href='/users/{{currentUser.username}}'>{{currentUser.username}}</a></div>
      </div>
      <div class='row'>
        <div class='col-md-9 small'><b>{{getOption "currencyAbbr"}} {{currentUser.profile.balance}}</b></div>
        <div class='col-md-3 text-right small logout btn-link'>Logout</div>
      </div>



</li>

            {{else}}
            <li class='dropdown'><a href='#' class="dropdown-toggle" data-toggle="dropdown">
              Signup/Login <b class="caret"></b></a>
              <ul class="dropdown-menu" style='padding: 1em'>
          <li><a id='loginFacebook' class='btn btn-primary' style='color:white'><i class='fa fa-facebook-square'></i> Login With Facebook</a></li>
          <li class='divider'></li>

          <li><form role='form' id='loginForm'><fieldset class='form-group'><input type='text' name='username' class='form-control' placeholder='Username/Email' style='margin-bottom: .5em'>
          <input type='password' name='password' class='form-control' placeholder='Password'>
          </fieldset><button type='submit' class='form-control btn-success'>Login</button></form>          </li>
          <li class='divider'></li>
          <li style='text-align:center'><b><a href='/signup'>Signup</a></b></li>

        </ul>
              </li>
              {{/if}}
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>
</template>