<template name='navbar'>
  <header>
<div class='container'>
  <div class='row'>
    <div class='col-md-3 brand'>
      <div class='row'>
      <a href='/'>
        <!-- {{#if getImage "siteImage"}} -->
      <div class='col-md-2'>
        <!-- <img src='{{getImage "siteImage"}}' > -->
        <img src='/img/logo.png'>
      </div><div class='col-md-10'>
      <!-- {{else}} -->
<!--       <div class='col-md-12'>
        {{/if}}  -->
        <div class='title'>
          {{getOption "sitename"}}
        </div>
              <div class='subtitle small'>
              {{getOption "siteSubtitle"}}
            </div>
      </a>
      </div>
      </div>

    </div>
{{#if currentUser}}
    <div class='col-md-3 account-info pull-right col-md-offset-1'>
      <div class='col-md-2'>
               <img src='{{currentUser.profile.picture}}' class='avatar'>
      </div>
      <div class='col-md-10'>
        <span class='pull-right small logout btn btn-sm btn-link'>Logout</span>
              <div class='username'><a href='/users/{{currentUser.username}}'>{{currentUser.username}}</a></div>
              <div class='balance small'>{{getOption "currencyAbbr"}} {{currentUser.profile.balance}}</div>
            </div>
    </div>

{{else}}
    <div class='col-md-3 login pull-right small'>
      <form role='form' id='loginForm'>
      <fieldset>
<input class='form-control input-sm username' name='username' placeholder='username'>
<input class='form-control input-sm password' type='password' name='password' placeholder='password'>
      </fieldset>
      <div>
        <a id='loginFacebook' class='btn btn-primary btn-sm' ></i> Login With Facebook</a>
        <button type='submit' class='btn btn-success btn-sm pull-right'>Login</button>
      </div>
    </form>
    </div>
{{/if}}

<ul class='menu col-md-5 list-unstyled list-inline'>
  <li><a href='/transfer/'>Transfer</a></li>
  <li><a href='/wanted/' class='text-muted'>Wanted</a></li>
  <li><a href='/offers/' class='text-muted'>Offers</a></li>
  <li><a href='/about/' class='text-muted'>About</a></li>

  </ul>

  </div>
</div>
  </header>
  {{#if currentUser}}
<div id='searchbar' class='row'>
<div class='wrapper col-md-12'>
  <form role="search" class='text-right col-md-11'>

    <input type="text" class="input-sm form-control" id='navbarSearch' placeholder="Search Users">
</form>
</div>
</div>
{{/if}}
</template>