<template name='navbar'>
<div id='navbar' class='navbar navbar-default'>
  <div class='container'>
<ul class="nav navbar-nav">
  <a href='/' class='navbar-brand'>
    <img src='/img/logo.png' style='height: 24px'> {{getOption "sitename"}}

  </a>
  {{#if currentUser}}<li><a href='/transfer/'>Transfer</a></li>{{/if}}
  <li><a href='/wanted/' class='text-muted'>Wanted</a></li>
  <li><a href='/offers/' class='text-muted'>Offers</a></li>
  <li><a href='/groups/' class='text-muted'>Groups</a></li>
  <li><a href='/stats/' class='text-muted'>Stats</a></li>

  <li><a href='/about/' class='text-muted'>About</a></li>
</ul>
  <form role="search" class='navbar-form navbar-left'>

    <input type="text" class="input-sm form-control" id='navbarSearch' placeholder="Search Users" length="20">
</form>
{{#if currentUser}}
<div id='userProfile' class="navbar-text navbar-right small text-muted">

    <a href='/users/{{currentUser.username}}' title='My profile'><img src='{{currentUser.profile.picture}}' class='avatar'></a> <a href='/users/{{currentUser.username}}' title='My profile'>{{currentUser.username}}</a> | <b>Balance:</b> {{getOption "currencyAbbr"}} {{currentUser.profile.balance}} | 
    <span class="dropdown" id='notificationWrapper'>
  <a class='text-muted' style='text-decoration: none' id="notificationIcon" role="button" data-toggle="dropdown" data-target="notificationList">
    <i class='fa fa-bell'> </i> <span class='label label-danger'>{{myUnreadNotificationsCount}}</span>
  </a>


  <ul class="dropdown-menu col-md-8 list-unstyled" id='notificationList' role="menu" aria-labelledby="notificationIcon">
  {{#each myNotifications 10}}
  <li data-id='{{_id}}' class='small col-md-12 {{#if read}}read{{else}}unread{{/if}}'><div>{{message}}</div><div class='small text-muted pull-right'>{{relativeTime timestamp}}</div><hr></li>
  {{/each}}
  <!-- <div class='text-center small'>Show all notifications</div> -->
  </ul>
</span> | <a class='logout'><i class='fa fa-unlock-alt'></i> Logout</a>

</div>
{{else}}
<div class='navbar-text navbar-right small'>
  <a class='btn btn-default btn-xs' data-toggle="modal" data-target="#loginModal">Login</a>
  <a href='/signup' class='btn btn-default btn-xs'>Signup</a>

</div>
{{/if}}
</div>
</div>
<!--
 <header>

<div class='container'>
  <div class='row'>
    <div class='col-md-4 brand'>
      <div class='row'>
      <a href='/'>
      <div class='col-md-2'>
        <img src='/img/logo.png'>
      </div><div class='col-md-10'>

        <div class='title'>
          {{getOption "sitename"}}
        </div>
              <div class='subtitle small'>
              {{getOption "siteSubtitle"}}
            </div>
      </a>
      </div>
      </div>

    </div>
{{#if currentUser}}
    <div class='col-md-3 account-info well well-sm pull-right col-md-offset-1'>
      <div class='col-md-2'>
               <img src='{{currentUser.profile.picture}}' class='avatar'>
      </div>
      <div class='col-md-10'>
        <span class='pull-right small logout btn btn-sm btn-link'>Logout</span>
              <div class='username'><a href='/users/{{currentUser.username}}'>{{currentUser.username}}</a></div>
              <div class='balance small'>{{getOption "currencyAbbr"}} {{currentUser.profile.balance}}</div>
            </div>
    </div>

{{else}}
    <div class='col-md-3 login well well-sm pull-right small'>
      <form role='form' id='loginForm'>
      <fieldset>
<input class='form-control input-sm username' name='username' placeholder='username'>
<input class='form-control input-sm password' type='password' name='password' placeholder='password'>
      </fieldset>
      <div>
        <a id='loginFacebook' class='btn btn-primary btn-sm' ></i> Login With Facebook</a>
        <button type='submit' class='btn btn-success btn-sm pull-right'>Login</button>
      </div>
    </form>
    </div>
{{/if}}



  </div>
</div> 

  </header> -->

</template>