<template name='offers'>
<div class='container'>

	<div class='row'>
			<span class='h1'>Offers <span class='addWanted btn btn-sm btn-success' data-toggle="modal" data-target="#offerModal">Post An Offer</span></span> 
	</div>
	<div class='row'>
		<ul class='list-unstyled col-md-6'>
		{{#each getOffers}}
		<li class='well well-sm'><div class='row'>
			<div class='col-md-2'>{{#with getUserById userId}}<a href='/users/{{username}}'><img src='{{profile.picture}}' style='height: 4em'><br> {{username}}</a>{{/with}}</div>
			<div class='col-md-10'>
				<div style='font-size:2em; font-weight:bold' class='col-md-12'>{{title}}</div>
				<div class='col-md-12 small'>{{formatDate timestamp}}</div>
				<div class='col-md-12'>{{body}}</div>
				<div class='col-md-12'>Tags: {{#each tags}}<a href='/tags/{{this}}' class='label label-default'>{{this}}</a> {{/each}}</div>

			</div>
		</div></li>
		{{/each}}
	</ul>
	</div>
	</div>

	<div class="modal fade" id='offerModal'>
  <div class="modal-dialog">
    <div class="modal-content">
    	        <form role='form' id='offerForm'>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Post An Offer</h4>
      </div>
      <div class="modal-body">
        	<fieldset class='form-group'>
        		<label for='title'>Title</label>
        		<input class='form-control' name='title' placeholder='Title of your offer'>
        	</fieldset>
        	<fieldset class='form-group'>
        		<textarea class='form-control' name='body' rows='8' placeholder="Tell us what you're offering"></textarea>
        	</fieldset>
        	<fieldset class='form-group'>
        		<label for='location'>Location (optional)</label>
        		<input class='form-control' name='location' placeholder='Be as specific as your address or as general as your city or neighborhood.'>
        	</fieldset>
        	     <fieldset class='form-group'>
        		<label for='tags'>Tags (optional)</label>
        		<input class='form-control' name='tags' placeholder='Add tags for your specific skills.'>
        	</fieldset>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Post Offer</button>
      </div>
              </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</template>