<template name='offerFull'>
	<div class='container offer'>
		<div class='col-md-8 col-md-offset-2'>
			{{#with offer}}		
				<div class='row'>
					<div class='col-md-2' style-'text-align:center'>{{#with getUserById userId}}<a href='/users/{{username}}'><img src='{{profile.picture}}' class='avatar' ><br>{{username}}</a>{{/with}}</div>
					<div class='col-md-10'>
						<div>{{title}}</div>
						<div class='small text-muted'>{{#if location}}<a href="http://maps.google.com?q={{location}}" target='_new' class='text-muted'><i class="fa fa-map-marker"></i> {{location}}</a> - {{/if}}{{formatDate timestamp}}</div>

						<div class='body'>{{{nl2br body}}}</div>
												<br>
										<div><i class="fa fa-tags" title='Tags'></i> {{#each tags}}<a href='/tags/{{this}}' class='label label-default'>{{this}}</a> {{/each}}</div>

				<div>
					<h3>{{numReplies}} Replies</h3>
				</div>
				<hr>
				{{#each replies}}
								<div class='row'>
					<div class='col-md-1 text-center'>
						{{#with getUserById userId}}
						<a href='/users/{{username}}'><img src='{{profile.picture}}' class='avatar' ><br>{{username}}</a>
						{{/with}}
					</div>
					<div class='col-md-11'>
						{{{nl2br body}}}
					</div>
					<div class='col-md-12 text-right small text-muted'>{{formatDate timestamp}}</div>
				</div>
				<hr>
				{{/each}}
				<form class='well well-sm' role='form' id='replyForm' name='replyForm'>
					<h3>Leave A Reply</h3>
				<div class='row'>
					<div class='col-md-1 text-center'>
						{{#with currentUser}}
						<img src='{{profile.picture}}' class='avatar' ><br>{{username}}
						{{/with}}
					</div>
					<div class='col-md-11'>
						<textarea class='form-control' name='body' rows='4'></textarea>
					</div>
				</div>
				<br>
				<div class='text-right'><button type='submit' class='btn btn-primary'>Post Reply</button></div>

				</form>

					</div>
				</div>

			{{/with}}
		</div>
</div>
</template>