<template name='offerSingle'>
			<div class='row'>
			<div class='col-md-2'>{{#with getUserById userId}}<a href='/users/{{username}}'><img src='{{profile.picture}}' class='avatar' ><br> {{username}}</a>{{/with}}</div>
			<div class='col-md-10'>
				<div ><a href='/offers/{{_id}}'>{{title}}</a></div>
				<div class='col-md-12 small text-muted'>{{#if location}}<a class='text-muted' href='http://maps.google.com?q={{location}}' target='_new'><i class="fa fa-map-marker"></i> {{location}}</a> - {{/if}}{{formatDate timestamp}}</div>
				<div class='col-md-12'>{{{nl2br body}}}</div>
				<div class='col-md-12'><i class="fa fa-tags" title='Tags'></i> {{#each tags}}<a href='/tags/{{this}}' class='label label-default'>{{this}}</a> {{/each}}</div>
								<div class='text-right small'><a href='/offers/{{_id}}#replies'>{{numReplies}} replies</a></div>

			</div>
		</div>
</template>

<template name='offerSingleSmall'>
			<div class='row'>
			<div class='col-md-2'>{{#with getUserById userId}}<a href='/users/{{username}}'><img src='{{profile.picture}}' style='width: 100%'><br> {{username}}</a>{{/with}}</div>
			<div class='col-md-10'>
				<div class='title'><a href='/offers/{{_id}}'>{{title}}</a></div>
				<div class='small text-muted'>{{#if location}}<a class='text-muted' href='http://maps.google.com?q={{location}}' target='_new'><i class="fa fa-map-marker"></i> {{location}}</a> - {{/if}}{{formatDate timestamp}}</div>
				<div class='col-md-12'>{{{trimWords body 32 "..."}}}</div>
								<div><i class="fa fa-tags" title='Tags'></i> {{#each tags}}<a href='/tags/{{this}}' class='label label-default'>{{this}}</a> {{/each}}</div>
								<div class='text-right small'><a href='/offers/{{_id}}#replies'>{{numReplies}} replies</a></div>


			</div>
		</div>
</template>