<template name='stats'>
	<style>/*

	#usageChart{
		background: #66F;
	}
	#usageChart rect{
		fill: #33F;
	}

		#usageChart text{
		fill: white;
		text-anchor: end;
	}*/
	</style>
	<div class='container stats'>
<!-- 		<div class='col-md-12'>
			<div class='panel panel-default'>
			<h2 class='panel-heading'>Usage</h2>
			<div class='panel-body'>
			<div id='chartWrapper'>
			</div>
			</div>
		</div>
		</div> -->
		<div class='col-md-12'>
			<div class='panel panel-default'>
			<h2 class='panel-heading'>Leaderboard</h2>
			<div class='panel-body'>
				<div class='col-md-4'>
					<h3>Most Sent</h3>
					<table class='table table-striped'>
						<thead>
							<tr><th>#</th><th colspan='2'>User</th><th>Amount ({{getOption "currencyAbbr"}})</th></tr>
						</thead>
						<tbody>
						{{#each rankings.sent}}
							
							<tr><td class='col-md-1'>{{num}}</td>{{#with getUserById id}}<td class='col-md-1'><a href='/users/{{username}}'><img src='{{profile.picture}}' class='avatar'></a></td><td><a href='/users/{{username}}'>{{username}}</a>{{/with}}</td><td>{{amount}}</td></tr>
							
						{{/each}}
					</tbody>
					</table>
				</div>
				<div class='col-md-4'>
					<h3>Most Received</h3>
					<table class='table table-striped'>
						<thead>
							<tr><th>#</th><th colspan='2'>User</th><th>Amount ({{getOption "currencyAbbr"}})</th></tr>

						</thead>
						<tbody>
						{{#each rankings.received}}
							
							<tr><td class='col-md-1'>{{num}}</td>{{#with getUserById id}}<td class='col-md-1'><a href='/users/{{username}}'><img src='{{profile.picture}}' class='avatar'></a></td><td><a href='/users/{{username}}'>{{username}}</a>{{/with}}</td><td>{{amount}}</td></tr>
							
						{{/each}}
					</tbody>
					</table>
				</div>
				<div class='col-md-4'>
					<h3>Total Transactions</h3>
					<table class='table table-striped'>
						<thead>
							<tr><th>#</th><th colspan='2'>User</th><th># Transactions</th></tr>

						</thead>
						<tbody>
						{{#each rankings.total}}
							
							<tr><td class='col-md-1'>{{num}}</td>{{#with getUserById id}}<td class='col-md-1'><a href='/users/{{username}}'><img src='{{profile.picture}}' class='avatar'></a></td><td><a href='/users/{{username}}'>{{username}}</a>{{/with}}</td><td>{{amount}}</td></tr>
							
						{{/each}}
					</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>
	</div>
</template>