<template name='tagSearch'>
	<div class='container'>
		<h1>Search - "{{tag}}"</h1>

	<h2>Users</h2>
	<ul class='list-unstyled col-md-6'>
		{{#each users}}
		<li class='well well-sm'>
			<div class='row'>
				<div class='col-md-1'>
					<img src='{{profile.picture}}' style='height:4em'>
				</div>
				<div class='col-md-11'>
				<div class='row'><div class='col-md-12'><a href='/users/{{username}}' class='h4'> {{username}}</a></div>
				</div>
				<div class='row'><div class='col-md-12 small'>
			Tags: {{#each profile.tags}}<a class='label label-default' href='/tags/{{this}}'>{{this}}</a> {{/each}}
			</div>
				</div>

			</li>
		{{/each}}
	</ul>
</div>
</template>