<template name='tagSearch'>
	<div class='container'>
		<h1>Search - "{{tag}}"</h1>
<div class='row'>
	<h2>Users</h2>
	{{#if users}}
	<ul class='list-unstyled col-md-6'>
		{{#each users}}
		<li class='well well-sm'>
			<div class='row'>
				<div class='col-md-1'>
					<img src='{{profile.picture}}' >
				</div>
				<div class='col-md-11'>
				<div class='row'>
					<div class='col-md-12'>
						<a href='/users/{{username}}' class='h4'> {{username}}</a>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12 small'>
			Tags: {{#each profile.tags}}<a class='label label-default' href='/tags/{{this}}'>{{this}}</a> {{/each}}
			</div>
				</div>

			</li>
		{{/each}}
	</ul>
	{{else}}
	<i>No users with tag "{{tag}}" found.</i>
	{{/if}}
</div>
<div class='row'>
	<h2>Wanteds</h2>
	{{#if wanteds}}
	<ul class='list-unstyled col-md-6'>
		{{#each wanteds}}
		<li class='well well-sm'>
			{{> wantedSingleSmall}}
		</li>
		{{/each}}
	</ul>
	{{else}}
		<i>No wanteds with tag "{{tag}}" found.</i>

	{{/if}}
</div>

<div class='row'>
	<h2>Offers</h2>
	{{#if offers}}
	<ul class='list-unstyled col-md-6'>
		{{#each offers}}
		<li class='well well-sm'>
			{{> offerSingleSmall}}
		</li>
		{{/each}}
	</ul>
	{{else}}
		<i>No offers with tag "{{tag}}" found.</i>

	{{/if}}
</div>
</div>
</template>