<template name='transferForm'>

	<form role='form' class='form-inline transferForm' id='sendForm'>
<!-- <div class='col-md-4 well well-sm small' id='userOne'>
	<div class='col-md-3'><img src='{{currentUser.profile.picture}}' class='avatar'></div>
	<div class='col-md-9 text-muted'>
		<div>{{currentUser.username}}</div>
		<div>{{getOption "currencyAbbr"}} {{currentUser.profile.balance}}</div>
		<div class='small'>&nbsp;</div>
	</div>
</div>

<div class='col-md-4 text-center'>
		<select id='toFrom' name='toFrom' class='form-control input-sm'>
			<option value='send' {{#if send}}selected='selected'{{/if}}>Send To</option>
			<option value='request' {{#if request}}selected='selected'{{/if}}>Request From</option>
		</select>
</div>
 -->
<fieldset class='form-group col-md-12'>
	<div class='col-md-6'><select class='selectpicker form-control input-sm' id='senderId' name='senderId'>
		<optgroup label="My Account">
		<option data-content="<img src='{{currentUser.profile.picture}}' style='height:1em'> {{currentUser.username}} <b>Balance: {{currentUser.profile.balance}}</b>" value='{{currentUser._id}}'>{{currentUser.username}} Balance: {{currentUser.profile.balance}}</option>
	</optgroup>
		<optgroup label="My Groups">
		{{#each myGroups}}
		<option data-content="<img src='{{profile.picture}}' style='height:1em'> {{profile.name}} <b>Balance: {{profile.balance}}</b>" value='{{_id}}'>{{username}} Balance: {{profile.balance}}</option>
		{{/each}}
	</optgroup>
	</select>
</div>
<div class='col-md-6'>
 		<select id='toFrom' name='toFrom' class='selectpicker form-control input-sm'>
			<option data-content="<i class='fa fa-arrow-right'></i> Send To" value='send'>Send To</option>
			<option  data-content="<i class='fa fa-arrow-left'></i> Request From" value='request'>Request From</option>
		</select>
	</div>
	</fieldset>
<div class='col-md-12 small' id='userTwo'>
	{{#if recipient}}
	<div class='col-md-4 small'>
		{{#with recipient}}
	<div class='col-md-3'><img src='{{profile.picture}}' class='avatar'></div>
	<div class='col-md-9'>
		<div>{{username}}</div>
		<div>{{getOption "currencyAbbr"}} {{profile.balance}}</div>
		<div class='small'>&nbsp;</div>
	</div>
	<input type='hidden' name='userTwoId' value='{{_id}}'>
	{{/with}}
</div>
	{{else}}
	<fieldset>
	<div class="input-group">
		<span class="input-group-addon">To</span>
		<input name='email' class='form-control userSearch' placeholder='Search users or enter recipient email'>
	</div>
</fieldset>
	{{/if}}
</div>
<fieldset class='col-md-12 form-group'>

		<div class="input-group">
		  <span class="input-group-addon">{{getOption "currencyAbbr"}}</span>
		  <input type="text" name='amount' class="form-control amount" placeholder="Minutes (please use multiples of 5/10 min! estimating is OK!)" value='{{#if amount}}{{amount}}{{/if}}'>
		</div>
</fieldset>
<fieldset class='col-md-12 form-group'>
<div class="col-md-12 input-group">
  <span class="input-group-addon">For</span>
  <input type="text" class="form-control description" name='description' placeholder="Optional description, e.g. hours of lawn mowing." value='{{#if description}}{{description}}{{/if}}'>
</div>
</fieldset>

<div class='col-md-12 text-right'>		  
	<button type='submit' class='form-control btn btn-primary'>Send</button>
</div>
</form>

</template>