<template name='user'>
	<div class='container'>
		{{#if user}}
		<div class='col-md-4'>
			<h2>Wanteds</h2>
			<ul class='list-unstyled small'>
		{{#each getUserWanteds user._id}}
		<li class='well well-sm'>
			{{> wantedSingleSmall}} </li>
		{{/each}}
	</ul>

			<h2>Offers</h2>
			<ul class='list-unstyled small'>
		{{#each getUserOffers user._id}}
		<li class='well well-sm'>
			{{> offerSingleSmall}}
			</li>
		{{/each}}
	</ul>

		</div>
<div class='col-md-8'>
	<div class='well text-center'>

{{#if isCurrentUser user._id}}
{{> loggedInUserProfile}}
{{else}}
{{> userProfile}}
{{/if}}
	</div>
	<div class='row'>
		<h3>Transactions</h3>
			{{#if getUserTransactions user._id}}
	<table class='table table-striped'>
		<thead><tr><td>Sender</td><td>Recipient</td><td>Amount ({{getOption "currencyAbbr"}})</td><td>Description</td><td>Date</td></tr></thead>
		<tbody>
	{{#each getUserTransactions user._id}}
	<tr class='{{transactionType}}'>
	<td>{{#with getUserById sender}}<a href='/users/{{username}}'>{{username}}</a>{{/with}}</td><td>{{#with getUserById recipient}}<a href='/users/{{username}}'>{{username}}</a>{{/with}}</td><td>{{amount}}</td><td>{{description}}</td><td>{{formatDate timestamp}}</td></tr>
	{{/each}}
</tbody>
	</table>
{{else}}
<i>No transactions yet!</i>
{{/if}}
	</div>
</div>
{{/if}}
</div>
</template>