<template name='wanted'>
<div class='container'>

	<div class='row'>
			<span class='h1'>Wanted <span class='addWanted btn btn-sm btn-success' data-toggle="modal" data-target="#wantedModal">Post A Wanted Ad</span></span> 
	</div>
	<div class='row'>
		<ul class='list-unstyled col-md-6'>
		{{#each getWanteds}}
		<li class='well well-sm'>
			{{> wantedSingle}}
</li>
		{{/each}}
	</ul>
	</div>
	</div>

	<div class="modal fade" id='wantedModal'>
  <div class="modal-dialog">
    <div class="modal-content">
    	        <form role='form' id='wantedForm'>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Post A Wanted Ad</h4>
      </div>
      <div class="modal-body">
        	
 		{{> wantedForm}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Post Wanted</button>
      </div>
              </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</template>