<template name='wanted'>
<div class='container'>
  <div class='wanted-list col-md-8 col-md-offset-2 panel panel-default'>
    <div class='panel-body'>
  <div class='row'>
      <h1 class='col-md-6'><i class="fa fa-chevron-circle-left"></i> Wanted</h1><div class='col-md-6 text-right'><span class='addWanted btn btn-sm btn-success' data-toggle="modal" data-target="#wantedModal"><i class='fa fa-plus-circle'></i> Post A Wanted</span></div> 
  </div>
  <hr>
	<div class='row'>
		<ul class='list-unstyled'>
		{{#each getWanteds}}
		<li>

			{{> wantedSingle}}

</li>
<hr>
		{{/each}}
	</ul>
	</div>
</div>
</div>
	</div>

	<div class="modal fade" id='wantedModal'>
  <div class="modal-dialog">
    <div class="modal-content">
    	        <form role='form' id='wantedForm'>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Post A Wanted Ad</h4>
      </div>
      <div class="modal-body">
        	
 		{{> wantedForm}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Post Wanted</button>
      </div>
              </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</template>