<template name='wantedSingle'>
	<div class='wanted wanted-md'>
			<div class='row'>
							<div class='col-md-2'>{{#with getUserById userId}}<a href='/users/{{username}}'><img src='{{profile.picture}}' class='avatar'></a>{{/with}}</div>
			<div class='col-md-10'>
								<div class='title'><a href='/wanted/{{_id}}'>{{title}}</a></div>
				<div class='small'>Posted by {{#with getUserById userId}}<a href='/users/{{username}}'>{{username}}</a>{{/with}}</div>
				<div class='small text-muted'>{{#if location}}<a class='text-muted' href='http://maps.google.com?q={{location}}' target='_new'><i class="fa fa-map-marker"></i> {{location}}</a> - {{/if}}{{formatDate timestamp}}</div>
				<div class='col-md-12'>{{{trimWords body 200 "..."}}}</div>
								<div class='text-right small'><a href='/wanted/{{_id}}#replies'>{{numReplies}} replies</a></div>


			</div>
		</div>
	</div>
</template>

<template name='wantedSingleSmall'>
	<div class='wanted wanted-sm'>
			<div class='row'>
							<div class='col-md-2'>{{#with getUserById userId}}<a href='/users/{{username}}'><img src='{{profile.picture}}' class='avatar'></a>{{/with}}</div>
			<div class='col-md-10'>
								<div class='title'><a href='/wanted/{{_id}}'>{{title}}</a></div>
				<div class='small'>Posted by {{#with getUserById userId}}<a href='/users/{{username}}'>{{username}}</a>{{/with}}</div>
				<div class='small text-muted'>{{#if location}}<a class='text-muted' href='http://maps.google.com?q={{location}}' target='_new'><i class="fa fa-map-marker"></i> {{location}}</a> - {{/if}}{{formatDate timestamp}}</div>
				<div class='col-md-12 small'>{{{trimWords body 32 "..."}}}</div>
								<div class='text-right small'><a href='/wanted/{{_id}}#replies'>{{numReplies}} replies</a></div>


			</div>
		</div>
	</div>
</template>