<template name='wantedForm'>
	
<fieldset class='form-group'>
        		<label for='title'>Title</label>
        		<input class='form-control' name='title' placeholder='Title of your wanted ad'>
        	</fieldset>
        	<fieldset class='form-group'>
        		<textarea class='form-control' name='body' rows='8' placeholder="Tell us what you're looking for"></textarea>
        	</fieldset>
        	<fieldset class='form-group'>
        		<label for='location'>Location (optional)</label>
        		<input class='form-control' name='location' placeholder='Be as specific as your address or as general as your city or neighborhood.'>
        	</fieldset>
        	     <fieldset class='form-group'>
        		<label for='tags'>Tags (optional)</label>
        		<input class='form-control' name='tags' placeholder='Add tags for your specific needs.'>
        	</fieldset>
</template>